.usersContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.usersContainer > div {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
}
.userTitle{
    display: flex;
    justify-content: center;
    
}

.usersDesign{
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display:  flex;
    transition: all 0.3s ease-in-out;
}

.usersDesign:hover {
    transform: scale(1.0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(47, 200, 255);
}

